<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body bgcolor="#5383E8">
<header>
{%include 'main_top.html'%}
</header>

<a href="/statistics/champion/">챔피언별 게임 통계</a>
<a href="/statistics/tier/">티어별 게임 통계</a><br>
<!-- 통계부분 -->
<table style="text-align: center; background-color: black;">
	<tr>
		<td><img src="data:image/png;base64,{{ber}}" width="500"></td>
	</tr>
</table>
<table>
	<tr>
		<td><img src="data:image/png;base64,{{graph}}" width="500"></td>
	</tr>
</table>
<table>
	<tr>
		<td><img src="data:image/png;base64,{{bers}}" width="500"> </td>
	</tr>
</table>

</body>
</html>