<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style type="text/css">

</style>
</head>
<body bgcolor="">
<header>
{%include 'main_top.html'%}
</header>
<b>여기가 승률예측</b>
<table border="1">
<tr>
<td>

</td>
</tr>
</table>
</body>
</html>

</div>


</body>
</html>