<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/board/deleteok/" method="post">{% csrf_token %}
	<input type="hidden" name="id" value="{{data_one.id}}">
	<table>
		<tr>
			<td>해당글을 삭제하려면 비밀번호를 입력하시오</td>
		</tr>
		<tr>
			<td>
			비밀번호 : <input type="text" name="del_passwd">
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="삭제">
				<input type="button" value="취소" onclick='javascript:history.back()'>
			</td>
		</tr>
	</table>
</form>
</body>
</html>