<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript">
window.onload = function(){
	document.getElementById("btnReplyOk").onclick = function(){
		chkFunc();
	}
}

function chkFunc(){
	if (frm.name.value === '' || frm.passwd.value === "" ){
		alert("입력자료 모두 채우시오");
		return;
	}
	frm.submit(); //Ecma script 관심을 ㅠㅠ
}
</script>
<body>
<form name="frm" action="/board/replyok/" method="post">{% csrf_token%}
<input type="hidden" name="id" value="{{data_one.id}}">
<input type="hidden" name="gnum" value="{{data_one.gnum}}">
<input type="hidden" name="onum" value="{{data_one.onum}}">
<input type="hidden" name="nested" value="{{data_one.nested}}">
<table style="width: 70%;">
	<tr>
		<td>작성자 :</td>
		<td><input type="text" name="name" placeholder="이름입력"></td>
	</tr>
	<tr>
		<td>비밀번호 :</td>
		<td><input type="text" name="passwd" placeholder="비밀번호입력"></td>
	</tr>
	<tr>
		<td>이메일 :</td>
		<td><input type="email" name="mail" placeholder="이메일입력"></td>
	</tr>
	<tr>
		<td>글 제목 :</td>
		<td><input type="text" name="title" size="49" value="[RE]{{data_one.title}}"></td>
	</tr>
	<tr>
		<td>글 내용 :</td>
		<td><textarea rows="5" cols="50" name="cont" placeholder="내용입력"></textarea></td>
	</tr>
	<tr>
		<td colspan="2"><input type="button" value="댓글등록" id="btnReplyOk"></td>
	</tr>
</table>
</form>
</body>
</html>