<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript">
window.onload = function(){
	document.getElementById("btnUpdate").onclick = function(){
		chkFunc();
	}
	document.getElementById("btnBack").onclick = function(){
		history.back();
	}
}

function chkFunc(){
	if (frm.up_passwd.value === "" ){
		alert("채우시오");
		return;
	}
	frm.submit(); //Ecma script 관심을 ㅠㅠ
}
</script>
</head>
<body>
<h2> ** 게시글 수정 **</h2>
<form action="/board/updateok/" method="post" name="frm">{% csrf_token %}
<input type="hidden" name="id" value="{{data_one.id}}">
<table class="table" style="width: 70%">
	<tr>
		<td>작성자 :</td>
		<td><input type="hidden" name="name" value="{{data_one.name}}">{{data_one.name}}</td>
	</tr>
	<tr>
		<td>비밀번호 :</td>
		<td><input type="text" name="up_passwd" placeholder="비밀번호입력"></td>
	</tr>
	<tr>
		<td>이메일 :</td>
		<td><input type="email" name="mail" value="{{data_one.mail}}"></td>
	</tr>
	<tr>
		<td>글 제목 :</td>
		<td><input type="text" name="title" size="49" value="{{data_one.title}}"></td>
	</tr>
	<tr>
		<td>글 내용 :</td>
		<td><textarea rows="5" cols="50" name="cont">{{data_one.cont}}</textarea></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: center;">
			<input type="button" value="수 정" id="btnUpdate">
			<input type="button" value="이 전" id="btnBack">
		</td>
	</tr>
</table>
</form>
</body>
</html>