<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
table{
margin: auto;
text-align: center;
width: 60%;
height: 100px;

}

</style>
</head>
<body>
<header>
<a href="/">메인</a>
<a href="/champion/statistics/">챔피언 분석</a>
<a href="/statistics/champion/">통계</a>
<a href="/multi/query=">승리예측</a>
{{head|safe}}
<a href='board/list/'>커뮤니티</a>
<hr>
</header>
<!-- 챔피언 프로필부분 -->
<table border="1">
<tr>
<td colspan="">탑 %</td>
<td>미드 %</td>
</tr>

<td rowspan="3">프로필 이미지</td>
<td colspan="2">챔피언명</td>
</tr>
<tr>
<td colspan="2">챔피언티어</td>
</tr>
<tr>
<td colspan="2">이미지</td>
</tr>

</table>

<hr>
<!-- 종합부분 -->
<table border="1">
<tr>
<td colspan="2">추천 소환사 주문</td>
<td>픽률</td>
<td>승률</td>
</tr>
<tr>
<td>이미지1</td>
<td>이미지2</td>
<td>픽률%</td>
<td>승률%</td>
</tr>
<tr>
<td colspan="2">추천 스킬 빌드</td>
<td>픽률</td>
<td>승률</td>
</tr>
<tr>
<td colspan="2">이미지 > 이미지 > 이미지</td>
<td rowspan="2">픽률%</td>
<td rowspan="2">승률%</td>
</tr>
<tr>
<td colspan="2">키패드</td>
</tr>
</table><br>

<!-- 2번째 -->
<table border="1">
<tr>
<td colspan="4">추천 아이템 빌드</td>
<td>픽률</td>
<td>승률</td>
</tr>
<tr>
<td rowspan="2">시작아이템</td>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
</tr>
<tr>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
</tr>

<tr>
<td rowspan="5">추천빌드</td>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
</tr>
<tr>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
</tr>
<tr>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
</tr>
<tr>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
</tr>
<tr>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
</tr>

<td rowspan="3">신발</td>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
</tr>
<tr>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
<tr>
<td colspan="3">이미지 > 이미지 > 이미지</td>
<td>픽률%</td>
<td>승률%</td>
</tr>
</table>

<!-- 3번째 -->
<table>

</table>
</body>
</html>